#game-container {
    width: 320px; /* немного больше для gap */
    margin: 20px auto;
}

#grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    background: #bbada0;
    border-radius: 6px;
    padding: 5px;
}

.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    border-radius: 4px;
    background: #cdc1b4;
    aspect-ratio: 1 / 1; /* квадратная плитка */
}
.tile-2 { background: #eee4da; }
.tile-4 { background: #ede0c8; }
.tile-8 { background: #f2b179; color: white; }
.tile-16 { background: #f59563; color: white; }
.tile-32 { background: #f67c5f; color: white; }
.tile-64 { background: #f65e3b; color: white; }
.tile-128 { background: #edcf72; color: white; }
.tile-256 { background: #edcc61; color: white; }
.tile-512 { background: #edc850; color: white; }
.tile-1024 { background: #edc53f; color: white; }
.tile-2048 { background: #edc22e; color: white; }

